* {
  /*Reset de CSS*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Corpo, Url do background (imagem) e outros códigos*/
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover
}

#caixa1{
  /*Caixa principal. todo o conteúdo está guardado*/
  width: 100%;
  margin: 24px auto 0px auto;
  max-width: 588px;
  padding: 0 24px;
  height: 100%;
}

/*criação do modo light do site*/
:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.529);
  --surface-color: rgba(200, 200, 200, 0.3);
  --surface-color-hover: rgba(70, 70, 70, 0.326);
  --social-link-hover: rgba(32, 32, 32, 0.3);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --hover-links-cor: rgba(0, 0, 0, 0.7);
}

body{
  background:var(--bg-url) top center/cover no-repeat;
   height: 100vh;
}

.light{
   --text-color: black;
   --bg-url: url(./assets/bg-mobile-light.jpg);
   --stroke-color: rgba(0, 0, 0, 0.529);
   --surface-color: rgba(0, 0, 0, 0.2);
   --surface-color-hover: rgba(255, 255, 255, 0.522);
   --social-link-hover: rgba(0, 0, 0, 0.3);
   --switch-bg-url: url(./assets/sun.svg);
   --hover-links-cor: rgba(203, 203, 203, 0.7);
}

#profile{
  /*text-align, vai concentrar o texto no centro (todo o texto e até a imagem da parte de cima*/
  text-align: center;
}

#profile img{
  /*tramanho da imagem da tela*/
  width: 144px;
  height: 144px;
}

body * {
  /*estilo da fonte do css*/
  font-family: "Roboto", sans-serif;
  color:var(--text-color);
}

#profile{
  /*Perfil, display block, especificação e a borda de cor azul*/
  font-weight: 500;
  line-height: 24px;
  
}


/*botões*/
ul {/*ul. inicio de toda a lista la do HTML*/
  display: flex;
  flex-direction: column;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  
  margin-top: 10px;
  
}

ul li a {
  text-decoration: none;
   border: 2px solid var(--stroke-color);
   display: flex;
   height: 50px;
  
   /*align horizontal e justify vertical*/
   align-items: center;
   justify-content: center;
  
   background: var(--surface-color);
   /*entorno da borda*/
   border-radius: 10px;
   
   flex-direction: column;
/*Transition: faz a transição*/
   transition: background 0.3s;

   backdrop-filter: blur(4px);
   gap: 8px;
}

ul li {/*display e direção do flex, que possivelmente faz com que a lista tambem fique no centro e*/
  display: flex;
  flex-direction: column;
  
}

a{ /* decoração do texto, Erickk2*/
  text-decoration: underline;
}

/*Pseduo, ul li a:hover{} Propriedades e comportamentos de quando passar o mouse em cima*/
ul li a:hover{
   background: var(--surface-color-hover);

}

/*social-links*/
/*espaçamento(gap) e a organização dos icones */
#social-links{
  display: flex;

  padding: 12px 0;

  justify-content: center;
  font-size: 30px
}
/*organização acrescental (Só que essencial)*/
#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:15px;

  border-radius: 50% ;
  transition: background 0.5s;
}

#social-links a:hover{
  background: var(--social-link-hover);
     border: 3px solid var(--hover-links-cor);
}

footer{
  align-items: center;
  padding: 6;
  margin-top: 10px;
}

/*Switch ou botão*/
#switch button{
  border: px solid rgba(0, 0, 0, 0.47);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;
  top: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  animation: slide-back 0.3s;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: 4px;
  background: var(--surface-color);
  backdrop-filter: 4px;
}

#switch{
  position: relative;
  width: 64px;

  margin: 4px auto;
}

.light #switch button{
 animation: slide-in 0.3s forwards;
}

#switch button:hover{
  outline: 5px solid rgba(108, 108, 108, 0.457);
  transition: outline 0.2s
}

@media (min-width: 700px) {
 :root {
   --bg-url: url(./assets/bg-desktop.jpg);
 }

 .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
 }
}

@keyframes slide-in {
  from{left: 0}
  to{left: 50%}
}

@keyframes slide-back {
  from{left: 50%}
  to{left: 0}
}